:root {
        --ic-brand-primary-darkened-5: #CEA349;
--ic-brand-primary-darkened-10: #C39A45;
--ic-brand-primary-darkened-15: #B89241;
--ic-brand-primary-lightened-5: #D9AF54;
--ic-brand-primary-lightened-10: #DBB35D;
--ic-brand-primary-lightened-15: #DDB766;
--ic-brand-button--primary-bgd-darkened-5: #CEA349;
--ic-brand-button--primary-bgd-darkened-15: #B89241;
--ic-brand-button--secondary-bgd-darkened-5: #000000;
--ic-brand-button--secondary-bgd-darkened-15: #000000;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-30: #4C4C4C;
--ic-link-color-darkened-10: #664B16;
--ic-link-color-lightened-10: #7F642F;
--ic-brand-primary: #D8AB4C;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #715318;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #000000;
--ic-brand-button--secondary-bgd: #000000;
--ic-brand-button--secondary-text: #D8AB4C;
--ic-brand-global-nav-bgd: #D8AB4C;
--ic-brand-global-nav-ic-icon-svg-fill: #000000;
--ic-brand-global-nav-ic-icon-svg-fill--active: #715318;
--ic-brand-global-nav-menu-item__text-color: #000000;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #444444;
--ic-brand-global-nav-menu-item__badge-bgd: #715318;
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-logo-bgd: #000000;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/42619/unnamed.jpg');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/42620/venderbilt1.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/58012/Screen%20Shot%202020-03-27%20at%202.57.58%20PM.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/58013/Screen%20Shot%202020-03-27%20at%202.57.58%20PM.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/58014/Screen%20Shot%202020-03-27%20at%202.57.58%20PM.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/58015/Screen%20Shot%202020-03-27%20at%202.57.58%20PM.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/58016/Screen%20Shot%202020-03-27%20at%202.57.58%20PM.png');
--ic-brand-Login-body-bgd-color: #f2f2f2;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #2773e2;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }